h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: small;
}
p {
  font-family: "Times New Roman", Times, monospace;
  font-size: medium;
}


.regbox {
    width: 60%;
    height: 40%;
    font-family: Garamond, serif;
    margin: 10px;
    padding: 15px;
    float: left;
}

.logbox {
    width: 30%;
    height: 95%;
    font-family: Garamond, serif;
    margin: 10px;
    padding: 15px;
    float: left;
}
.regbox input {    
    width: 30%;
    float: left;
    height: 40px;
    font-family: Garamond, serif;
    margin: 30px;
    border-radius: 4px;
    background-color: #965050;
    color: aliceblue;
    font-size: larger;
}
.regbox input:hover {
    opacity: 0.9;
}
.logbox input {    
    width: 50%;
    height: 40px;
    float: left;
    font-family: Garamond, serif;
    margin: 30px;
    background-color: #963e3e;
    color: aliceblue;
    font-size: larger;
}

.center {
    float: left;
    width: 30%;
    font-family: Garamond, serif;
    margin: 30px;
    padding-left: 205px;

}
.center input {
    float: left;
    justify-content: center;
    width: 40%;
    height: 40px;
    font-family: Garamond, serif;
    margin-top: 45px;
    border-radius: 4px;
    background-color: #965050;
    color: aliceblue;
    font-size: larger;
}
h1 {
    font-family: Garamond, serif;
    margin: 30px;
}
.dash1 {
    height: 600px;
    width: 69%;
    margin: 20px;
    background-color: #9e2c2c;
    float: left;
    border-style: double;
}  
.dash2 {
    height: 565px;
    width: 97%;
    margin: 15px;
    background-color: #9e2c2c;
    float: left;
    border-style: double;
}



.dashnav1 {
    width: 70%;
    height: 70px;
    background-color: #9e2c2c;
    border-style: none!important;
    float: left;
}
.dashnav2 {
    width: 29%;
    height: 70px;
    background-color: #9e2c2c;
    border-style: none!important;
    float: left;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9e2c2c;
  border-style: none!important;
  margin-left: 30px;
  width: 100%;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #965050;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #965050;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-style: double;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}


.dashmain {
    width: 99.55%;
    height: 87%;
    background-color: #590101;
    border-style: double;
    float: left;
}


.win_head {
  background-color: #965050;
  width: 97.7%;
  height: 8%;
  float: left;
  border-style: groove;
  padding: 0px;
  padding-left: 10px;
  border-color: #590101;
}

.win_profile {
  width: 36%;
  height: 87%;
  background-color: #9e2c2c;
  border-style: double;
  float: left;
  margin: 15px;
}
.win_profile_con {
  width: 92.7%;
  height: 83%;
  background-color: #9e2c2c;
  border-style: double;
  float: left;
  padding: 15px;
}
.win_edit {
  width: 55%;
  height: 87%;
  background-color: #9e2c2c;
  border-style: double;
  float: left;
  margin: 15px;
}
.win_edit_con {
  width: 94.7%;
  height: 83%;
  background-color: #9e2c2c;
  border-style: double;
  float: left;
  padding: 15px;
}

#profileDisplay { display: block; height: 210px; width: 60%; margin: 0px auto; border-radius: 50%; }
.img-placeholder {
  width: 60%;
  color: white;
  height: 100%;
  background: black;
  opacity: .7;
  height: 210px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.img-placeholder h4 {
  margin-top: 40%;
  color: white;
}
.img-div:hover .img-placeholder {
  display: block;
  cursor: pointer;
}